<!-- -----------Header image section------------------- -->

<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <h2>
            Adhering to Rule and Regulations
          </h2>
          <div>
            <p class="my-5">
              Statutory compliance is mandatory for businesses in India. Configure the statutory details as per the rules of the state and relax.
            </p>
          </div>
          <a class="book-a-table-btn scrollto m-0">Get Started</a>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/compliance-banner.png" width="70%" />
      </div>
    </div>
  </div>
</section>
<!-- -----------Header image section ends------------------- -->

<!-- --------payroll body section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">PF Compliance</p>
          <h2>
            Employee Provident Fund (EPF) - Improves Employee Welfare
          </h2>
          <div>
            <p>
              Set up your provident fund rules based on employee salary ranges or management bands. Configure provident fund to be part of CTC or outside CTC.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/salary-components.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">ESIC Compliance</p>
          <h2>ESI Contribution and Calculation</h2>
          <div>
            <p>
              Configure ESI applicability and contribution rules in ProH2R and it will flow to the Payroll Process.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Profession Tax Compliance</p>
          <h2>
            Professional Tax with your <br />
            state-specific rules built in
          </h2>
          <div>
            <p>
              Professional Tax calculation and compliance forms vary for each
              state. ProH2R takes the pain away from all these variations. It
              automatically deducts Professional tax and generates compliance
              forms for each of the states. You can still customize the rules to
              handle your complex scenarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/salary-components.png" width="70%" />
      </div> -->
    </div>
  </div>
</section>
<!-- --------payroll body section ends------- -->

<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<!-- --------payroll body2 section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">PT and LWF Compliance</p>
          <h2>
            State Specific Rules for Professional Tax
          </h2>
          <div>
            <p>
              PT calculation varies from state to state. With ProH2R, set up the PT compliance rule and  it will be automatically deducted during payroll.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-analytics.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Taxation</p>
          <h2>
            Tax Declaration and Calculation, TDS Calculation and Deduction
          </h2>
          <div>
            <p>
              Comprehensive TDS (IT) calculations and eTDS returns using ProH2R. Quarterly and Annual eTDS Challan filing.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Tax Deduction Adjustments</p>
          <h2>
            Prorated tax deductions to <br />
            handle revisions, bonuses, tax <br />
            declarations, loss of pay etc
          </h2>
          <div>
            <p>
              ProH2R ensures the tax deductions comply within a given Financial
              year, despite changes in salaries, bonus payments, leave
              encashments, or loss of pay. So your employees can draw the best
              take-home salary while staying compliant.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-analytics.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Labour Welfare Fund</p>
          <h2>
            LWF contributions covered for <br />
            all the states
          </h2>
          <div>
            <p>
              Labor welfare fund contributions are mandatory in certain states.
              The computations and the filing requirements vary for each state
              and Keka will help you figure that automatically.
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- --------payroll body2 section ends------- -->

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->
