<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div
    class="container-fluid container-fluid-xl d-flex align-items-center justify-content-lg-between"
  >
    <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html"> <img src="assets/image/logo-proh2r.png"> </a></h1> -->
    <!-- <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li class="dropdown"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Innovations</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Industries</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Company</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> -->
    <!-- .navbar -->

    <!-- New Navbar -->
    <h1 class="logo me-auto me-lg-0">
      <a href="index.html"> <img src="assets/image/logo-proh2r.png" /> </a>
    </h1>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li class="dropdown dropdown-product container">
              <a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
              <ul class="row prd">
                <div class="col-lg-6">
                  <li>
                    <a href="/modern-hr" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\ic_core-hr.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                        <h4>Core HR </h4>
                        <p>Modern HR and people collaboration <br/>platform</p>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/hiring" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\hiring-onboarding.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                      <h4>Hiring & Onboarding </h4>
                      <p>Create a great candidate experience <br/>before and after joining</p>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/attendance" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\ic_attendance.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                      <h4>Time & Attendance </h4>
                      <p>Automate attendance, track time and<br/> accountability</p>
                      </div>
                    </a>
                  </li>

                  
                </div>
                <div class="col-lg-6">
                  <li>
                    <a href="/leave-management" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\ic_leave-management.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                      <h4>Leave Management </h4>
                      <p>Configure leave policies and manage<br/> leaves</p>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/project-timesheet" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\ic_timesheet.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                        <h4>Project Timesheet </h4>
                        <p>Track your employee time and maintain<br/> effective utilization</p>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="/payroll" class="d-inline-flex">
                      <div class="">
                        <img src="assets\image\ic-expense-management.png" alt="" class="" width="60px"/>
                      </div>
                      <div class="">
                        <h4>Payroll & Expenses </h4>
                        <p>Automate and pay employees on time<br/> and stay compliant </p>
                      </div>
                    </a>
                  </li>
                </div>
                <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li> -->
                <!-- <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Innovation</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul class="innovation-dd ">
                <li class="mt-2">
                  <a href="#" class="d-inline-flex">
                    <div class="">
                      <img src="assets\image\ic_data-insights.png" alt="" class="me-2" width="60px"/>
                    </div>
                    <div class="">
                      <h4>Data Insights </h4>
                      <p>Hindsight, insight and foresight with your data</p>
                    </div>
                  </a>
                </li>
                <li class="mt-2">
                  <a href="#" class="d-inline-flex">
                    <div class="">
                      <img src="assets\image\ic_build-self.png" alt="" class="me-2" width="60px"/>
                    </div>
                    <div class="">
                      <h4>Build Yourself </h4>
                      <p>If you can imagine it, you can build it</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="d-inline-flex">
                    <div class="">
                      <img src="assets\image\ic_api-listing.png" alt="" class="me-2" width="60px"/>
                    </div>
                    <div class="">
                      <h4>API Listing </h4>
                      <p>Let's integrate with our API Suite</p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Industries</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="#">Banking & Financial</a></li>
                <li><a href="#">Manufacturing</a></li>
                <li><a href="#">Retail</a></li>
                <li><a href="#">Pharma & Healthcare</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Company</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Our Brand</a></li>
              </ul>
            </li>
            <li >
              <a href="#"><span>Price Plan</span> </a>
            </li>
          </ul>
          <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
        </div>
      </div>
    </nav>

    <a *ngIf="url!='contact'"
      class="book-a-table-btn scrollto d-none d-lg-flex"
      (click)="goToContact()"
      >Get Started</a
      
    >
    <a *ngIf="url=='contact'"
    class="book-a-table-btn scrollto d-none d-lg-flex"
    (click)="goToContact()"
    >Talk On WhatsApp</a
    
  >
  </div>
</header>
<!-- End Header -->
<div class="" style="margin-top: 90px">
  <router-outlet></router-outlet>
</div>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
          <div>
            <img src="assets/image/logo-proh2r.png" height="60px" />
            <div class="row justify-content-between">
              <p class="mt-4 mb-4 me-5 col-5">
               Proh2r is made for your people, by people like you, who care for people in the organization
              </p>
  
              <div class="social-links mt-3 col-5 text-end">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>       
          </div>
          

        <!-- <div class="col-lg-3 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a (click)="goToAbout()">About us</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Fatures</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Feedbacks</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Contact</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Block A, Sector - 57, Noida , INDIA</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Enquiry@niletechnologies.com</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">+99988774455</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">+99988774456</a>
            </li>
          </ul>
        </div> -->
      </div>
      <hr class="hr_footer">

      <!-- -------grid html-------------- -->

      <div class="grid-container">
        <div class="d-flex flex-column">
          <p class="main_head">Core HR</p>
          <a href="/modern-hr" class="content">HR Software</a>
          <a href="/modern-hr/employee-profiles" class="content">Employees Profile</a>
          <a href="/modern-hr/documents" class="content">Documents</a>
          <a href="#" class="content">Helpdesk</a>
          <a href="#" class="content">Pulse Surveys</a>
          <a href="#" class="content">HR Analytics</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Payroll</p>
          <a href="/payroll/payroll-software" class="content">Payroll Software</a>
          <a href="/payroll/compliance" class="content">Compliance</a>
          <a href="/payroll/expense-management" class="content">Expense Management</a>
          <a href="#" class="content">Compensation</a>
          <a href="/payroll/loan-advances" class="content">Loan & Advances</a>
          <a href="#" class="content">Employee Finances</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Hiring & Onboarding</p>
          <a href="/hiring/hiring-home" class="content">Hiring</a>
          <a href="#" class="content">Applicant Tracking</a>
          <a href="#" class="content">Offer Management</a>
          <a href="#" class="content">Employee Onboarding</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Company</p>
          <a href="#" class="content">Home</a>
          <a (click)="goToAbout()" class="content">About Us</a>
          <a href="#" class="content">Features</a>
          <a href="#" class="content">Customer Stories</a>
          <a href="#" class="content">Partner with Us</a>
        </div>


        <div class="d-flex flex-column">
          <p class="main_head">Time Attendance</p>
          <a href="/leave-management/leave-homepage" class="content">Leave Management</a>
          <a href="/attendance/attendance-management" class="content">Attendance Management</a>
          <a href="#" class="content">GPS / Mobile Attendance</a>
          <a href="#" class="content">Shift Management</a>
          <a href="/project-timesheet/project-homepage" class="content">Timesheet Software</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Performance</p>
          <a href="#" class="content">Overview</a>
          <a href="#" class="content">360 degree reviews</a>
          <a href="#" class="content">OKRs and Goals</a>
          <a href="#" class="content">One on One</a>
          <a href="#" class="content">Continuous Feedback</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Customers</p>
          <a href="#" class="content">Customer Experience</a>
          <a href="#" class="content">Customer Stories</a>
          <a href="#" class="content">Onboarding & Implemention</a>
          <a href="#" class="content">Wall of Love</a>
          <a href="/contact" class="content">Support</a>
        </div>
        <div class="d-flex flex-column">
          <p class="main_head">Contact</p>
          <a class="content">Block A, Sector - 57, Noida , INDIA</a>
          <a class="content">Enquiry@niletechnologies.com</a>
          <a class="content">+99988774455</a>
          <a class="content">+99988774456</a>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="copyright">
          Copyright © 2023 <strong><span>ProH2R HRMS</span></strong
          >. All Rights Reserved
        </div>
      </div>
      <div class="col-lg-6">
        <div class="terms-privacy">
          <a href="/terms-of-use">Terms of Use</a> |
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- <div id="preloader"></div> -->
<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
