<!-- ----Mobile section Navbar---------- -->
<section class="payroll_nav p-0">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">Mobile Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> 
  </nav>
</section>
<!-- ----------------------------------------------- -->


<!-- -----------Header image section start------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 justify-content-start d-flex align-items-center">
              <div class="">
                  <h2>Access Your Data - Anytime, Anywhere</h2>
                  <p class="my-5">Remote work is incomplete without mobile access to human resources data. This is where the Proh2R mobile applications come into play.</p>
                       <a class="book-a-table-btn  m-0">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex align-items-center">
              <img src="./assets/image/Hiring-bannerImg.png" width="60%">
          </div>
      </div>
  </div>
</section>

<!-- -----------Header image section ends------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Mark Attendance</p>
                  <h2>CheckIn/ CheckOut - No Need of Desktop/Laptop - Your Smartphone will Help</h2>
                  <p>With ProH2R MobileApp user can mark their attendance from their smartphone. If enabled for the employee, the biometric authentication of the smartphone will also help. The app uses geofencing technology to restrict attendance from a specific area.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end">
              <div>
                  <p class="color-blue">Attendance Dashboard</p>
                  <h2>Handy but Effective Way to Check Employee Attendance</h2>
                  <p>Attendance Dahboard will help the user view his/her attenndance as well as manage the subordinates.
                  </p>
              </div>
          </div>
          <div class="col-lg-5 d-flex align-items-center">
            <div>
                <p class="color-blue">Track Leave Balance and Apply</p>
                <h2>Planning a Leave - Use ProH2R MobileApp to Apply</h2>
                <p>The streamlined approach to leave management is another benefit of an innovative mobile app. It allows users to submit and approve leave requests from anywhere at any time.</p>
            </div>
        </div>
        <div class="col-lg-7 justify-content-end d-flex align-items-center">
            <img src="./assets/image/salary-components.png" width="70%">
        </div>
      </div>
  </div>
</section>
<!-- ----payroll testimonials section-------- -->
<!-- <section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section> -->
<!-- ----payroll testimonials section ends-------- -->

<!-- ======= Mobile Design Section ======= -->
<section id="mobile_design" class="mobile_design position-relative">
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="margin-left: 17px">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div
              ngxSlickItem
              *ngFor="let mob_des of Mobile_design"
              class="slide"
            >
              <img src="{{ mob_des.img }}" width="200" class="mx-3 opacity_handle"/>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Mobile Design Section -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Timesheet Workflow</p>
                  <h2>Employee Time Tracking App That's Easy for Everyone</h2>
                  <p>Timesheet feeling and Approval using the MobileApp to track the time spent on projects or tasks. This information can be used for project costing, client billing, payroll, time tracking, and job estimation.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end">
              <div>
                  <p class="color-blue">Claim Expenses</p>
                  <h2>Helps user save time and effort in claiming their expenses</h2>
                  <p>Using ProH2R Mobile App, employees can apply their claims on expenses without unnecessary forms which can be approved by the suIt could not get more convenie. And the approval workflow can also be possible just through the App.
                  </p>
              </div>
          </div>
          <div class="col-lg-5 d-flex align-items-center">
            <div>
                <p class="color-blue">Analytics</p>
                <h2>Team Data Analysis</h2>
                <p>Real time analytics of the Attendance or Leave for the team is just on the phone of the Supervisor.</p>
            </div>
        </div>
        <div class="col-lg-7 justify-content-end d-flex align-items-center">
            <img src="./assets/image/salary-components.png" width="70%">
        </div>
      </div>
  </div>
</section>

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->