
<!-- -----------Header image section------------------- -->

<section class="HR_software">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <h2>Organization Profile</h2>
            <div>
              <p class="my-5">
                A framework for understanding the internal and external factors that shape the operating environment of a business.
              </p>
            </div>
            <a class="book-a-table-btn scrollto m-0">Get Started</a>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/hr-software-image.png" width="70%" />
        </div>
      </div>
    </div>
  </section>
  <!-- -----------Header image section ends------------------- -->

  <!-- --------HR sofware body section------- -->
<section class="hr-software">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Organization Structure</p>
            <h2>From Head Office to<br />Department</h2>
            <div>
              <p>
                Provides with a standard organization hierarchy report to view the relationships between organizations within a hierarchy.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/Organization-Structure.png" width="70%" />
        </div>
        <div class="col-lg-7 d-flex justify-content-start mt-5">
          <img src="./assets/image/Organization-Tree.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex justify-content-end">
          <div>
            <p class="color-blue">Organization Tree</p>
            <h2>Visualize employee information quickly</h2>
            <div>
              <p>
                Organogram displaying a reporting hierarchy helps employees to clarify their roles and responsibilities.
              </p>
            </div>
          </div>
        </div>

          <!-- ----HR Software testimonials section-------- -->
<section class="hr-software_testimonials mt-5 mb-5">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="50%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----HR Software testimonials section ends-------- -->
        
        <div class="col-lg-5 align-items-center d-flex mb-5">
          <div>
            <p class="color-blue">Asset Management</p>
            <h2>Smooth process to handle the asset   <br />allocation</h2>
            <div>
              <p>
                ProH2R handles the workflow for asset allocation and deallocation after the assignment is over very smoothly.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/Asset-Management.png" height="50%"  width="80%"/>
        </div>
        <div class="col-lg-7 d-flex justify-content-start">
          <img src="./assets/image/Access-Management.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex justify-content-end">
          <div>
            <p class="color-blue"> Access Management</p>
            <h2>User access management roles and<br /> responsibilities</h2>
            <div>
              <p>
                The Access Manager grants authorized users the right to use a service, while preventing access to non-authorized users.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- --------HR Software body section ends------- -->

  <!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <img src="assets/image/Group 118.png" style="width: 220px;"/>
        </div>
        <div class="col-lg-8 d-flex align-items-center justify-content-center">
          <div class="SD-left-content">
            <h1 class="mb-3">
              Ready to try <span style="color: #2a7bc8">ProH2R</span>?
            </h1>
            <p>
              With tools to make every part of your process more human and a
              support team excited to help you, getting started with a growth
              engine for your employees has never been easier.
            </p>
            <div class="pt-4">
              <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
              <a class="demo-btn" href="#">Schedule a demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Schedule demo Section -->
  