<!-- -----------Header image section start------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 justify-content-start d-flex align-items-center">
              <div class="">
                  <h2>GPS Attendance Tracking System</h2>
                  <p class="my-5">ProH2r provides GPS and Geofenced based Time and Attendance tracking.</p>
                       <a class="book-a-table-btn  m-0">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex align-items-center">
              <img src="./assets/image/Hiring-bannerImg.png" width="60%">
          </div>
      </div>
  </div>
</section>

<!-- -----------Header image section ends------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Geo Fencing</p>
                  <h2>Restrict Check In/Out Location</h2>
                  <p>Geo fencing creates a virtual geographic boundary around an area by means of GPS. The organization can restrict the user to mark attendance outside the boundary.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/3.3.1.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center mt-5">
              <img src="./assets/image/3.3.2.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end mt-5">
              <div>
                  <p class="color-blue">Location Tagging</p>
                  <h2>Capture Check In/Out Location</h2>
                  <p>Can capture and view the attendance marking location even if not geo fenced.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Verify Location</p>
                  <h2>CheckIn/Out Location Monitoring</h2>
                  <p>View the live status of your employees who performed check-in / check-out from various locations.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/3.3.3.png" width="70%">
          </div>
      </div>
  </div>
</section>

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->