<!-- ======= About Section ======= -->
<section id="about-us" class="">
  <div
    class="container position-relative text-center text-lg-start align-items-center d-flex"
  >
    <div class="row">
      <div
        class="col-lg-5 d-flex align-items-center justify-content-center about-us-left-section"
      >
        <div class="">
          <h1>About <span>ProH2R</span> HRMS</h1>
          <p>
            In 2020 when ProH2R started we had one mission, to make HR about the
            people. We wanted to remove any pain our fellow HR manager might be
            feelingin their job. Since then we have developed a world leading
            open source HR software that is trusted by over 1 lac users.
          </p>
        </div>
      </div>
      <div
        class="col-lg-7 d-flex align-items-center justify-content-center position-relative px-0"
      >
        <div class="banner-img">
          <div class="banner-module">
            <img src="assets/image/about-desktop.png" width="94%" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rate-about-work" class="rate-about-work container-fluid">
    <div class="row rate-digits text-light">
      <div class="col-lg-3 d-flex justify-content-center">
        <div>
          <h2>50 <span class="pink">+</span></h2>
          <p>Professionals</p>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div>
          <h2>100 <span class="green">+</span></h2>
          <p>Clients</p>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div>
          <h2>95 <span class="yellow">%</span></h2>
          <p>Renewal Rate</p>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div>
          <h2>200 <span class="orange">+</span></h2>
          <p>Features</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-mission" id="our-mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Our Mission</p>
          <h2>Build Better for Best Economy</h2>
          <div>
            <p>
              Stay in touch with your team at every stage of the hiring process.
              Collaborate, share candidate profiles, collect notes & view
              evaluation history.
            </p>
            <p>
              Stay in touch with your team at every stage of the hiring process.
              Collaborate, share candidate profiles, collect notes & view
              evaluation history.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/team-img.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/team-img.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Our Vision</p>
          <h2>Build Better for Best Economy</h2>
          <div>
            <p>
              Stay in touch with your team at every stage of the hiring process.
              Collaborate, share candidate profiles, collect notes & view
              evaluation history.
            </p>
            <p>
              Stay in touch with your team at every stage of the hiring process.
              Collaborate, share candidate profiles, collect notes & view
              evaluation history.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-company-value" id="our-company-value">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 OCV-left-details align-items-center d-flex">
        <div>
          <h1>Our <span>Company </span>Values</h1>

          <p>
            To Support the Company’s vision and mission so tha the company
            progresses, the company’s people implement the company’s values
          </p>

          <p>
            Measure the effectiveness of your hiring process with data-driven
            insights, probability scoring, resume parsing & improve the quality
            of Measure the effectiveness of your hiring process with data-driven
            insights, probability scoring, resume parsing & improve the quality
            of your hires.
          </p>

          <p>
            Measure the effectiveness of your hiring process with data-driven
            insights, probability scoring, resume parsing & improve the quality
            of your hires.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row justify-content-end d-flex">
          <div class="col-lg-5">
            <div class="box text-center">
              <img
                src="assets/image/ic_scalable.png"
                width="50px"
                class="me-1"
              />
              <h2>Transparent</h2>
              <p>
                Stay in touch with your team at every stage of the hiring
                process. Collaborate...
              </p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="box text-center">
              <img
                src="assets/image/ic_scalable.png"
                width="50px"
                class="me-1"
              />
              <h2>Commitment</h2>
              <p>
                Stay in touch with your team at every stage of the hiring
                process. Collaborate...
              </p>
            </div>
          </div>
          <div class="col-lg-5 mt-4">
            <div class="box text-center">
              <img
                src="assets/image/ic_scalable.png"
                width="50px"
                class="me-1"
              />
              <h2>Self Improvement</h2>
              <p>
                Stay in touch with your team at every stage of the hiring
                process. Collaborate...
              </p>
            </div>
          </div>
          <div class="col-lg-5 mt-4">
            <div class="box text-center">
              <img
                src="assets/image/ic_scalable.png"
                width="50px"
                class="me-1"
              />
              <h2>Over Deliver</h2>
              <p>
                Stay in touch with your team at every stage of the hiring
                process. Collaborate...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= Mobile Design Section ======= -->
<section id="mobile_design" class="mobile_design position-relative">
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="margin-left: 17px">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div
              ngxSlickItem
              *ngFor="let mob_des of Mobile_design"
              class="slide"
            >
              <img src="{{ mob_des.img }}" width="200" class="mx-3 opacity_handle"/>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Mobile Design Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg-1 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 align-items-center d-flex">
        <div class="section-title">
          <span>Customer Voice</span>
          <h3>
            They love us.<br />
            You will too
          </h3>
        </div>
      </div>
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <div class="devider-testimonial">
          <div class="divider-coma-bg">
            <img src="assets/image/coma.png" height="40px" />
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="testimonials-slider swiper">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig1"
          >
            <div ngxSlickItem *ngFor="let test of testimonials" class="slide">
              <div class="swiper-slide">
                <div class="testimonial-item d-flex flex-column">
                  <div
                    class="testimonial-user-details d-flex align-items-center"
                  >
                    <img
                      src="{{ test.img }}"
                      alt=""
                      width="100%"
                      class="d-block img-fluid testimonial-img"
                    />
                    <div class="align-items-center">
                      <h3>{{ test.name }}</h3>
                      <h4>{{ test.designation }}</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i
                    >{{ test.content
                    }}<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <p class="date-testimonials">
                    {{ test.date }}
                  </p>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <img src="assets/image/watch.png" height="120px" />
        <div class="SD-left-content">
          <h2>Ready to try <span>ProH2R</span>?</h2>
          <p>7 days. No strings attached. No credit card required.</p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <a class="demo-btn" href="#">Schedule a demo</a>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->
<!-- About Section -->
