<!-- -----------Header image section------------------- -->

<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <h2>
            Easily Manage Employee Expenses
          </h2>
          <div>
            <p class="my-5">
              Expense management helps in processing expenses, as well as employee reimbursable. It also defines all of the policies that are used to manage spending.
            </p>
          </div>
          <a class="book-a-table-btn scrollto m-0">Get Started</a>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/expense-management-banner.png" width="70%" />
      </div>
    </div>
  </div>
</section>
<!-- -----------Header image section ends------------------- -->

<!-- --------payroll body section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Go Paperless
          </p>
          <h2>
            Paperless Expense Workflow
          </h2>
          <div>
            <p>
              With ProH2R the expense management moves from employee applying their expenses to Admin releasing the billables & reimbursable in a hasslefree way.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/salary-components.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Set Expense Limit</p>
          <h2>Set Limit in Amount and Distance
          </h2>
          <div>
            <p>
              Configure the limits in amount and distance for different positions and different locations. Validate employee expense as per your settings.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Policy Configuration</p>
          <h2>
            Custom policies for different <br> geographies and employees
          </h2>
          <div>
            <p>
              Not all employees have the same spend needs. ProH2R expense management lets you configure various policies applicable for various geographies, departments, or bands of employees such as executives, the management, or team leads.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/salary-components.png" width="70%" />
      </div> -->
    </div>
  </div>
</section>
<!-- --------payroll body section ends------- -->

<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<!-- --------payroll body2 section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Legal and Audit</p>
          <h2>
            Legal Regulations for Taxes and Audit Activity
          </h2>
          <div>
            <p>
              Take charge of your cash flow to keep employees from misusing company funds. Companies must frequently protect themselves against occupational fraud, such as overstating costs or submitting false records.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-analytics.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Expense Analysis</p>
          <h2>
            Reports and Analytics for Billing and Reimbursements
          </h2>
          <div>
            <p>
              Expense reports analyzes overall expenses, identifies cost-saving opportunities, and controls excessive expenditure.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Payroll Integration</p>
          <h2>
            Release cash advances and <br> adjust balances in payroll
          </h2>
          <div>
            <p>
              Your employees cannot always afford to spend from their pocket for larger expenses. Keka expense management software allows you to release cash advances, so your employees can start tracking receipts against the advances. Any unclaimed amount can automatically be deducted from payroll.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-analytics.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">Configurable Workflows</p>
          <h2>
            Set automatic approvals or <br> custom approval workflows
          </h2>
          <div>
            <p>
              ProH2R expense software can be configured to have expenses auto-approved for the pre-allocated spend limits. For every other expense, you can customize the approval workflows based on the amount spent or based on geography, department, or band of employees.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Inbox</p>
          <h2>
            Inbox: One place to track all <br> expenses
          </h2>
          <div>
            <p>
              All your employees and managers can keep track of pending expense requests in one place - The Inbox. The innovative feature from Keka helps you track all your actions, so you don't miss them.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/payroll-knowledge.png" width="70%" />
      </div> -->
    </div>
  </div>
</section>
<!-- --------payroll body2 section ends------- -->

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->
