<!-- ----Project Timesheet Navbar---------- -->
<section class="payroll_nav p-0">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">Project Timesheet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['/hiring/hiring-home']">Hiring</a>
          <a class="nav-link" [routerLink]="['/hiring/applicant-tracking']" routerLinkActive="active">Applicant Tracking</a>
          <a class="nav-link" [routerLink]="['/hiring/offer-management']" routerLinkActive="active">Offer Management</a>
          <a class="nav-link" [routerLink]="['/hiring/employee-onboarding']" routerLinkActive="active">Employee Onboarding</a>
        </div>
      </div> -->
    </div> 
  </nav>
</section>
<!-- -----------Project Timesheet Navbar ends------------- -->
<router-outlet></router-outlet>