
<!-- -----------Header image section------------------- -->

<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <h2>The star employee you didn't know you had - Your Data </h2>
            <div>
              <p class="my-5">
                From simplifying complex data trends to setting up powerful benchmarks,
                 ProH2R's HR Analytics provides you insights into various aspects of your
                  workforce and generate instant reports, helping you to make smarter 
                  and data-driven decisions.
              </p>
            </div>
            <a class="book-a-table-btn scrollto m-0">Get Started</a>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/HR-analytics-banner.png" width="50%" />
        </div>
      </div>
    </div>
  </section>
  <!-- -----------Header image section ends------------------- -->

  <!-- ---------body center image section----------- -->
<section class="help_desk_img">
    <div class="d-flex justify-content-center flex-column">
      <div class="text-center">
        <h2>
            Rich Visual Analytics of Your  <br/>Workforce
        </h2>
        <div class="d-flex justify-content-center">
          <p class="my-5 w-50">
            Get real-time, holistic insights of each department and drive 
            results with an evidence-based approach.
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="./assets/image/helpDesk-mergeImage.png" class="w-75" />
      </div>
    </div>
  </section>
  
  <!-- ---------body center image section ends----------- -->

  
  <!-- --------documents-page body section------- -->
<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Compensation Analytics</p>
            <h2>Insights to plan your <br />compensation</h2>
            <div>
              <p>
                Analyze and generate compensation reports that enable you to have
                 an extensive view over employee salaries. Create reports that help
                  you set up compensation benchmarking and plan your budget based
                   on department, experience, etc with just a few clicks.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/salary-components.png" width="70%" />
        </div>
      </div>
    </div>
  </section>
  <!-- --------HR Software body section ends------- -->

  <!-- ----HR Software testimonials section-------- -->
<section class="documents-page-testimonal">
    <div class="d-flex container">
      <div class="img_">
        <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
      </div>
      <div class="text_">
        <div>
          <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
          ><br />
          <p class="m-0">
            I'm happy with the features, specifically the UI features of the
            ProH2R platform which are more futuristic and it'ss easy to use, and
            it gives a feel of a social platform.
          </p>
          <i class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"></i>
        </div>
        <div>
          <h4>John Doe</h4>
          <p class="text-muted">CEO & Founder</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ----HR Software testimonials section ends-------- -->

  <section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Time Analytics</p>
            <h2>Trendline reports on leave, attendance,   <br />and others </h2>
            <div>
              <p>
                Whether you want to keep a track of your employee productivity or just
                 review the attendance of your team, ProH2R’s trend line reports give 
                 you a comprehensive insight into your workforce trends. Right from 
                 employee shift details to attendance tracking policies, you can 
                 generate any report you need.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/salary-components.png" width="70%" />
        </div>
        <div class="col-lg-7 d-flex justify-content-start">
            <img src="./assets/image/salary-components.png" width="70%" />
          </div>

          <div class="col-lg-5 align-items-center d-flex justify-content-end">
            <div>
              <p class="color-blue"> Report Builder</p>
              <h2>Adhoc report builder </h2>
              <div>
                <p>
                    Another surprise meeting coming up? Generate instant reports with
                     your desired metrics and quickly share insights with the team. Curate and customize reports the way you need for your stakeholders.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>


  <!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <img src="assets/image/Group 118.png" style="width: 220px;"/>
        </div>
        <div class="col-lg-8 d-flex align-items-center justify-content-center">
          <div class="SD-left-content">
            <h1 class="mb-3">
              Ready to try <span style="color: #2a7bc8">ProH2R</span>?
            </h1>
            <p>
              With tools to make every part of your process more human and a
              support team excited to help you, getting started with a growth
              engine for your employees has never been easier.
            </p>
            <div class="pt-4">
              <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
              <a class="demo-btn" href="#">Schedule a demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Schedule demo Section -->
  
