
<!-- -----------Header image section------------------- -->

<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <h2>Productivity and workforce discipline</h2>
            <div>
              <p class="my-5">
                ProH2R enables organizations to automate their attendance management operations and keep track of employee working hours.
              </p>
            </div>
            <a class="book-a-table-btn scrollto m-0">Get Started</a>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/Leave-management-img.png" width="60%" />
        </div>
      </div>
    </div>
  </section>
  <!-- -----------Header image section ends------------------- -->

  <!-- ---------body center image section----------- -->
  <section class="payroll_bdy_img">
    <div class="d-flex justify-content-center flex-column">
      <div class="text-center">
        <h2>
            Time tracking that doesn’t feel like 
             <br />
             micromanaging
        </h2>
        <div class="d-flex justify-content-center">
          <p class="my-5 w-50">ProH2R gamifies the time tracking and gives a beautiful interface for employees to monitor their time, so your managers do not have to do the micro-management!</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="./assets/image/payroll-software.png" class="w-75" />
      </div>
    </div>
  </section>
  
  <!-- --------documents-page body section------- -->
<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Template Settings and Assignment</p>
            <h2>Configure the Templates Your Way</h2>
            <div>
              <p>
                Customizable attendance templates and assignment to employees.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/3.1.1.png" width="70%" />
        </div>
        <div class="col-lg-7 d-flex justify-content-start mt-5">
          <img src="./assets/image/3.1.2.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex justify-content-end mt-5">
          <div>
            <p class="color-blue">Overtime</p>
            <h2>Employees Working Late - Make them Happy with OT</h2>
            <div>
              <p>
                Systematic overtime calculation and payouts from the marked attendance.
              </p>
            </div>
          </div>
        </div>
        
        <!-- <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Time Tracking API </p>
            <h2>Track time from Wifi or using 
                <br/> IoT devices</h2>
            <p> 
                ProH2R flawless integration enables you to track time using IoT devices such as biometric scanners, facial recognition software, etc. ensuring a hassle-free time-tracking experience.
            </p>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/automation.png" width="70%" />
        </div>

        <div class="col-lg-7 d-flex justify-content-start">
            <img src="./assets/image/payroll-knowledge.png" width="70%" />
          </div>
          <div class="col-lg-5 align-items-center d-flex justify-content-end">
            <div>
              <p class="color-blue">Leave Approvals</p>
              <h2>Custom approval workflows</h2>
              <div>
                <p>
                    Control who approves time off requests or even set up replacement persons. Define skips for delayed actions, setup notifications and as many stages of approval. Set up & track who's doing what.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-5 align-items-center d-flex">
            <div>
              <p class="color-blue">Easy Shift Management </p>
              <h2>Shift rotations</h2>
              <p> 
                Keep everyone in the loop by using a shared leave calendar. Multiple users can see who in their team is off from any device to schedule their team meetings, manage project and resource planning. 
              </p>
            </div>
          </div>
          <div class="col-lg-7 d-flex justify-content-end">
            <img src="./assets/image/automation.png" width="70%" />
          </div> -->
        
      </div>
    </div>
  </section>
  <!-- --------HR Software body section ends------- -->

  <!-- ----HR Software testimonials section-------- -->
<section class="documents-page-testimonal">
    <div class="d-flex container">
      <div class="img_">
        <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
      </div>
      <div class="text_">
        <div>
          <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
          ><br />
          <p class="m-0">
            I'm happy with the features, specifically the UI features of the
            ProH2R platform which are more futuristic and it'ss easy to use, and
            it gives a feel of a social platform.
          </p>
          <i class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"></i>
        </div>
        <div>
          <h4>John Doe</h4>
          <p class="text-muted">CEO & Founder</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ----HR Software testimonials section ends-------- -->

  <section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Biometric Integration</p>
            <h2>Realtime Integration with Biometric Device</h2>
            <div>
              <p>ProH2R attendance system can easily integrate with Web API integrated Biometric systems. We are currently working with many clients using biometric systems from ESSL andBioMax.
            </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/3.1.3.png" width="70%" />
        </div>
        <div class="col-lg-7 d-flex justify-content-start mt-5">
            <img src="./assets/image/3.1.4.png" width="70%" />
          </div>

          <div class="col-lg-5 align-items-center d-flex justify-content-end mt-5">
            <div>
              <p class="color-blue">Realtime Attendance Tracking</p>
              <h2>Supervisor’s View on Availabilities and Absences</h2>
              <div>
                <p>
                  Allows employees to mark their attendance through its web or mobile app or integrates with the biometric attendance system to sync attendance entries automatically.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- ----Another section---------- -->
  <section class="leave-management-category">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3>
                    Let ProH2R do all the mundane
                        <br />
                        math for you
                </h3>
                <div class="d-flex justify-content-center">
                    <p class="my-5 w-50">ProH2R HR helps you with the trickiest of calculations, so you don't have to sweat. Simply define your rules, and the system takes care of the rest for all your employees</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h2>Seniority based Leave Accrual</h2>
                    <p>Configure accrual rate based on probation and experience and ProH2R will take care of the rest</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h2>Loss of Pay amount</h2>
                    <p>Seamless integration with payroll that enables automated arrear calculations based on the rules you set up.</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h2>Loss of Pay reversal arrears</h2>
                    <p>Cancel an employee unpaid leave from past with single button and Keka encashes it in the payroll.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <h2>Leave carry over</h2>
                    <p>Set leave carry over rules and let Keka figure encashments and carry overs to following years</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h2>Loss of Pay calculation</h2>
                    <p>Define the policies and rules as per your organizational regulations and the loss of pay amount will be automatically computed for your without any manual effort.

                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h2>Leave carry over rules</h2>
                    <p>Configure your own leave carry over rules and policies, everything right from leave encashment to carry over policies.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- ----Another section ends here---------- -->



    <!-- --------documents-page body section------- -->
<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Shift and Roster</p>
            <h2>Well-managed shifts allow employee flexibility</h2>
            <div>
              <p>
                With effective shift planning, companies can tailor the staff number as per their need in shifts. The Employer may vary the Shift Roster from time-to-time as per the requirement.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/3.1.5.png" width="70%" />
        </div>
        <!-- <div class="col-lg-7 d-flex justify-content-start">
          <img src="./assets/image/payroll-knowledge.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex justify-content-end">
          <div>
            <p class="color-blue">Attendance Sync Intellegence</p>
            <h2>Rich Analytics for executive and middle</h2>
            <div>
              <p>
                Whether its your employees or managers, ProH2R rich anaytics and dashboards ensure that each of them gets the reqiured information along with the valuable analytics and insightful dashboards. Right from department-based leave stats for managers to a summary of leave types for employees, it is designed to serve the needs of your whole workforce!
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Overtime </p>
            <h2>Overtime made easy so you<br/> don’t work overtime</h2>
            <p>That's right! You don't need sit and track overtime anymore as ProH2R Overtime Configuration will do that for you. All you have to do check/uncheck the predefined options based on your overtime polices and its all set to start tracking!</p>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/automation.png" width="70%" />
        </div>

        <div class="col-lg-7 d-flex justify-content-start">
            <img src="./assets/image/payroll-knowledge.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex justify-content-end">
            <div>
              <p class="color-blue">Time Tracking Rules Engine</p>
              <h2>Rules engine to shape your employee time habits</h2>
              <p>Tracking policies play a vital role in shaping your employee time habits. Set up different tracking rules for different teams/levels as per your organizational requirements through a unified interface.</p>
            </div>
        </div>           -->
      </div>
    </div>
  </section>
  <!-- --------HR Software body section ends------- -->

    <!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <img src="assets/image/Group 118.png" style="width: 220px;"/>
        </div>
        <div class="col-lg-8 d-flex align-items-center justify-content-center">
          <div class="SD-left-content">
            <h1 class="mb-3">
              Ready to try <span style="color: #2a7bc8">ProH2R</span>?
            </h1>
            <p>
              With tools to make every part of your process more human and a
              support team excited to help you, getting started with a growth
              engine for your employees has never been easier.
            </p>
            <div class="pt-4">
              <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
              <a class="demo-btn" href="#">Schedule a demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Schedule demo Section -->
  