<!-- -----------Header image section start------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 justify-content-start d-flex align-items-center">
              <div class="">
                  <h2>Employee-Friendly, Effortless, and Effective Leave Management</h2>
                  <p class="my-5">Free your HR team from manual Leave entitlement and deduction. ProH2R provides a comprehensive Leave Management.</p>
                       <a class="book-a-table-btn  m-0">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex align-items-center">
              <img src="./assets/image/Hiring-bannerImg.png" width="60%">
          </div>
      </div>
  </div>
</section>

<!-- -----------Header image section ends------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Multiple Leave Template and Category</p>
                  <h2>Your Leaves Your Way</h2>
                  <p>Configure your leave policies and categories your way. Multiple leave templates tailored for different employee groups.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/4.1.1.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center mt-5">
              <img src="./assets/image/4.1.2.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end mt-5">
              <div>
                  <p class="color-blue">Custom Leave Year</p>
                  <h2>Leave Year According to Organization Policy</h2>
                  <p>Some companies have their annual leave year from 1st April to 31st March whereas many have from 1st January to 31st December. With ProH2R manage Leave Year starting from any month of the year for a period of twelve months.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Leave Entitlement</p>
                  <h2>Configure Leave Entitlement Once per Leave Year</h2>
                  <p>Employee Leave Entitlements: Getting The Calculations Right using ProH2R configuration at right time.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/4.1.3.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center mt-5">
              <img src="./assets/image/4.1.4.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end mt-5">
              <div>
                  <p class="color-blue">Short Leave</p>
                  <h2>Hassle Free Short Leave for Urgency</h2>
                  <p>Need to take a small break from your work hour? Apply for Short Leave and get the full time attendance if approved.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->