<!-- -----------Header image section start------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 justify-content-start d-flex align-items-center">
              <div class="">
                  <h2>No Mail is Required for Comp Off</h2>
                  <p class="my-5">Entitle Leave to an employee on a working day as a compensation for working on a holiday or weekend.</p>
                       <a class="book-a-table-btn  m-0">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex align-items-center">
              <img src="./assets/image/Hiring-bannerImg.png" width="60%">
          </div>
      </div>
  </div>
</section>

<!-- -----------Header image section ends------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Leave Grant</p>
                  <h2>Comp Off Workflow</h2>
                  <p>An employee is eligible for a comp-off only when the leave is granted by the supervisor.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/4.2.1.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center mt-5">
              <img src="./assets/image/4.2.2.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end mt-5">
              <div>
                  <p class="color-blue">Day CompOff</p>
                  <h2>Take a Day Off in Lieu of the Weekly Off</h2>
                  <p>Emergency Work Pressure - Complete the job on Weekly Off/ Holiday and grant a day off on working day.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Hourly CompOff</p>
                  <h2>Your Way of Short Leave</h2>
                  <p>Take time off with pay in lieu of overtime work. Apply compensatory off for few hours if worked for extra hours.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/4.2.3.png" width="70%">
          </div>
      </div>
  </div>
</section>

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->