
<!-- -----------Header image section------------------- -->

<section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <h2>Web Portal and Mobile App  <br />for User </h2>
            <div>
              <p class="my-5">
                Login to the Mobile App or Employee Portal and it's your world of info.
              </p>
            </div>
            <a class="book-a-table-btn scrollto m-0">Get Started</a>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/help-desk-banner.png" width="60%" />
        </div>
      </div>
    </div>
  </section>
  <!-- -----------Header image section ends------------------- -->
  
  <!-- --------documents-page body section------- -->
<div class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Dashboard</p>
            <h2>User Dashboard - Consolidated  <br />data</h2>
            <div>
              <p>
                A private dashboard with all the relevant information for users. Supervissor can view team informations along with personal.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-end">
          <img src="./assets/image/Dashboard.png" width="70%" />
        </div>
      </div>
    </div>
  </div>
  <!-- --------HR Software body section ends------- -->

  <!-- ----HR Software testimonials section-------- -->
<section class="documents-page-testimonal mt-5">
    <div class="d-flex container">
      <div class="img_">
        <img src="./assets/image/Rectangle 49.png" width="50%" />
      </div>
      <div class="text_">
        <div>
          <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
          ><br />
          <p class="m-0">
            I'm happy with the features, specifically the UI features of the
            ProH2R platform which are more futuristic and it'ss easy to use, and
            it gives a feel of a social platform.
          </p>
          <i class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"></i>
        </div>
        <div>
          <h4>John Doe</h4>
          <p class="text-muted">CEO & Founder</p>
        </div>
      </div>
    </div>
  </section>
  <!-- ----HR Software testimonials section ends-------- -->

  <section class="documents-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-start">
          <img src="./assets/image/Leave-Balance.png" width="70%" />
        </div>
        <div class="col-lg-5 align-items-center d-flex">
          <div>
            <p class="color-blue">Leave Balance and Leave Application</p>
            <h2>Need a Vacation - Check Leave   <br />Balance and Apply </h2>
            <div>
              <p>
                Employee can check their leave balance and apply for leave when needed using the portal
              </p>
            </div>
          </div>
        </div>
        
        

          <div class="col-lg-5 align-items-center d-flex justify-content-end mt-5">
            <div>
              <p class="color-blue"> Realtime Attendance</p>
              <h2>Realtime Attendance - Minute  <br />by Minute</h2>
              <div>
                <p>
                  Attendance records - CheckIn or CheckOut - are updated immediately giving you valuable information when you need it.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-7 d-flex justify-content-end mt-5 mb-5">
            <img src="./assets/image/Realtime-Attendance.png" width="70%" />
          </div>

          <div class="col-lg-7 d-flex justify-content-start mt-5">
            <img src="./assets/image/Payslips.png" width="70%" />
          </div>
          <div class="col-lg-5 align-items-center d-flex mt-5">
            <div>
              <p class="color-blue">Payslips</p>
              <h2>Your Payslip - Just a Click<br />Away </h2>
              <div>
                <p>
                  User can view and download their own payslip anytime after it is generated from the system.
                </p>
              </div>
            </div>
          </div>
          
          
      </div>
    </div>
  </section>


  <!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <img src="assets/image/Group 118.png" style="width: 220px;"/>
        </div>
        <div class="col-lg-8 d-flex align-items-center justify-content-center">
          <div class="SD-left-content">
            <h1 class="mb-3">
              Ready to try <span style="color: #2a7bc8">ProH2R</span>?
            </h1>
            <p>
              With tools to make every part of your process more human and a
              support team excited to help you, getting started with a growth
              engine for your employees has never been easier.
            </p>
            <div class="pt-4">
              <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
              <a class="demo-btn" href="#">Schedule a demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Schedule demo Section -->
  
