<!-- -----------Header image section------------------- -->

<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <h2>
            Salary Advance to Employee in Need
          </h2>
          <div>
            <p class="my-5">
              Disbursing a Loan or Salary advances is paying an employee a fix amount or a portion of his salary in advance that the employee has to pay in certain terms.
            </p>
          </div>
          <a class="book-a-table-btn scrollto m-0">Get Started</a>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/loan-advances-banner.png" width="60%" />
      </div>
    </div>
  </div>
</section>
<!-- -----------Header image section ends------------------- -->

<!-- --------payroll body section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">Loan and EMI</p>
          <h2>
            Loan Tracking Makes Easy with Proper EMI Management
          </h2>
          <div>
            <p>
              With ProH2R Loan & Advance workflow EMI management is configured with Payroll to track and administer from the reimburse ment of the loan to recovery through EMIs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/6.4.1.png" width="70%" />
      </div>
      <div class="col-lg-7 d-flex justify-content-start mt-5">
        <img src="./assets/image/6.4.2.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end mt-5">
        <div>
          <p class="color-blue">Bulk Application for Loan</p>
          <h2>
            Quick Loan Application for a Group of Employees at a Time
          </h2>
          <div>
            <p>
              Need to disburse loan to multiple employees - No need to apply one at a time. With proH2R apply Loan or Advance for multiple employees together.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- --------payroll body section ends------- -->

<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<!-- --------payroll body2 section------- -->
<section class="payroll_head">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-items-center d-flex">
        <div>
          <p class="color-blue">EMI Adjustment</p>
          <h2>
            Pause EMI Deduction for Certain Period and Adjust Later
          </h2>
          <div>
            <p>
              Employee can pause their EMI for a period in case of urgency. Those EMIs can be adjusted with the Payroll of Later months.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex justify-content-end">
        <img src="./assets/image/6.4.3.png" width="70%" />
      </div>
      <!-- <div class="col-lg-7 d-flex justify-content-start">
        <img src="./assets/image/payroll-analytics.png" width="70%" />
      </div>
      <div class="col-lg-5 align-items-center d-flex justify-content-end">
        <div>
          <p class="color-blue">EMI Management</p>
          <h2>
            Pause or adjust EMI <br />
            deductions
          </h2>
          <div>
            <p>
              Employees have pressing needs at times and would like to have a
              pause on their EMI payments for a month or two. Keka allows you to
              manage it all with a simple click of buttons!
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- --------payroll body2 section ends------- -->

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->
