 <!-- ======= Inner Banner Section ======= -->
 <section id="inner-banner" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <div class="">
            <h1 class="mb-3">We take your shape as you change</h1>
            <h2 class="mb-3">Get an HRMS that puts the power in your hands. Organization and make adjustments as your business scales.</h2>
            <h2>Get an HRMS that puts the power in your hands. Configure workflows that suit your organization and make adjustments as your business scales.</h2>

          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center position-relative px-0" data-aos="zoom-in" data-aos-delay="200">
          <!-- <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a> -->
          <div class="">
            <div class="banner-module">
            <img src="assets/image/inner-banner.png" width="90%">  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main"> 
    <!-- ======= Start Our Masters Features ======= -->
    <section id="master" class="master master-bg position-relative">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="master-content-heading">
            <h2>Our Master Features</h2>
            <p>Humans are already complex, your HRMS solution need to be</p>
          </div>
          <div class="col-lg-4">
            <div class="box aos-init aos-animate d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
              <img class="our-expert-ic me-3" src="assets/image/ic_grade-security.png" height="70px">
              <h4>Dynamic Dashboard</h4>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box aos-init aos-animate d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
              <img class="our-expert-ic me-3" src="assets/image/ic_grade-security.png" height="70px">
              <h4>Dynamic Reports</h4>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="box aos-init aos-animate d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
              <img class="our-expert-ic me-3" src="assets/image/ic_grade-security.png" height="70px">
              <h4>Dynamic Workflow</h4>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Our Masters Features -->

    <!-- ======= Start about-inner ======= -->
    <section id="about-innerPage" class="about-innerPage position-relative">
      <div class="container" data-aos="fade-up">
        <div class="row align-items-center d-flex">
          <div class="col-lg-6">
            <div>
              <h2>Hire as a team</h2>
              <p>Stay in touch with your team at every stage of the hiring process. Collaborate, share candidate profiles, collect notes & view evaluation history.</p>
              <p>Stay in touch with your team at every stage of the hiring process. Collaborate, share candidate profiles, collect notes & view evaluation history.</p>
            </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex">
            <img src="assets/image/hire-team.png" width="70%">
          </div>
        </div>
        <div class="row align-items-center d-flex">
          <div class="col-lg-6 justify-content-start d-flex">
            <img src="assets/image/data-show.png" width="70%">
          </div>
          <div class="col-lg-6">
            <h2>Let data show you the way</h2>
            <p>Stay in touch with your team at every stage of the hiring process. Collaborate, share candidate profiles, collect notes & view evaluation history.</p>
            <p>Stay in touch with your team at every stage of the hiring process. Collaborate, share candidate profiles, collect notes & view evaluation history.</p>
          </div>
        </div>
      </div>
    </section><!-- End about-inner -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg-1 position-relative">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4 align-items-center d-flex">
            <div class="section-title">
              <span>Customer Voice</span>
              <h3> They love us.<br/> You will too</h3>
            </div>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="devider-testimonial">
              <div class="divider-coma-bg">
                <img src="assets/image/coma.png" height="40px">
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item align-items-center d-flex">
                    <div>
                      <div class="testimonial-user-details d-flex align-items-center">
                        <img src="assets/image/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <div class="align-items-center">
                          <h3>Saul Goodman</h3>
                          <h4>Ceo &amp; Founder</h4>
                        </div>
                      </div>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                      <p class="date-testimonials">
                        13 Fec 2023
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item align-items-center d-flex">
                    <div>
                      <div class="testimonial-user-details d-flex align-items-center">
                        <img src="assets/image/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <div class="align-items-center">
                          <h3>Sara Wilsson</h3>
                          <h4>Designer</h4>
                        </div>
                      </div>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item align-items-center d-flex">
                    <div>
                      <div class="testimonial-user-details d-flex align-items-center">
                        <img src="assets/image/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <div class="align-items-center">
                          <h3>Jena Karlis</h3>
                          <h4>Store Owner</h4>
                        </div>
                      </div>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Schedule demo Section ======= -->
    <section id="schedule-demo" class="schedule-demo">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <img src="assets/image/watch.png" height="120px">
            <div class="SD-left-content">
              <h2>Ready to try <span>ProH2R</span>?</h2>
              <p>7 days. No strings attached. No credit card required.</p>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <a class="demo-btn" (click)="goToContact()">Schedule a demo</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Schedule demo Section -->
  </main><!-- End #main -->