<!-- -----------Header image section start------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 justify-content-start d-flex align-items-center">
              <div class="">
                  <h2>Track Resource Utilization on the Basis of Projects and Tasks Hours</h2>
                  <p class="my-5">Timesheet allows you to plan, track, collaborate, and execute projects, in real-time and all in one place</p>
                       <a class="book-a-table-btn  m-0">Get Started</a>
              </div>
          </div>
          <div class="col-lg-6 justify-content-end d-flex align-items-center">
              <img src="./assets/image/Hiring-bannerImg.png" width="60%">
          </div>
      </div>
  </div>
</section>

<!-- -----------Header image section ends------------------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Project and Task creation and Assignment</p>
                  <h2>Assign Resources to Projects and Tasks</h2>
                  <p>ProH2R allows to create projects and tasks as per your requirement and also assign resources for specific projects or tasks.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end">
              <div>
                  <p class="color-blue">Times Approval Workflow</p>
                  <h2>Automated Timesheet Approval</h2>
                  <p>With the rise of remote work, employees and Supervisors need timesheets that they can fill out or approve anytime, anywhere. The process empowers the supoervisors to approve or reject the timesheet submitted by the employees in the project and track the resource utilization.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ----payroll testimonials section-------- -->
<section class="payroll_testimonials">
  <div class="d-flex container">
    <div class="img_">
      <img src="./assets/image/Rectangle 49.png" width="75%" height="111%" />
    </div>
    <div class="text_">
      <div>
        <i class="bx bxs-quote-alt-left quote-icon-left fs-2 text-muted"></i
        ><br />
        <p class="m-0">
          I'm happy with the features, specifically the UI features of the
          ProH2R platform which are more futuristic and it'ss easy to use, and
          it gives a feel of a social platform.
        </p>
        <i
          class="bx bxs-quote-alt-right quote-icon-right w-100 text-end fs-2 text-muted"
        ></i>
      </div>
      <div>
        <h4>John Doe</h4>
        <p class="text-muted">CEO & Founder</p>
      </div>
    </div>
  </div>
</section>
<!-- ----payroll testimonials section ends-------- -->

<section class="hiring_onboarding">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 d-flex align-items-center">
              <div>
                  <p class="color-blue">Time Dashboard</p>
                  <h2>Projects and Tasks Status at a Single Place</h2>
                  <p>Time Sheet dashboard provides comprehensive time sheet activities. The dashboard uses Performance Analytics to provide a trend of historical data and regular reports. It gives an overview of the time sheet activities of resources, over-allocated and under-allocated resource counts.</p>
              </div>
          </div>
          <div class="col-lg-7 justify-content-end d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-7 d-flex align-items-center">
              <img src="./assets/image/salary-components.png" width="70%">
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-end">
              <div>
                  <p class="color-blue">Report Analytics</p>
                  <h2>Capacity vs. Project Allocations vs. Timesheet Hours</h2>
                  <p>Sometimes well mastered time management strategies aren’t enough. Then how do you track employee hours? Use employee time tracking and analyze reports.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- ======= Schedule demo Section ======= -->
<section id="schedule-demo" class="schedule-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <img src="assets/image/Group 118.png" style="width: 220px" />
      </div>
      <div class="col-lg-8 d-flex align-items-center justify-content-center">
        <div class="SD-left-content">
          <h1 class="mb-3">
            Ready to try <span style="color: #2a7bc8">ProH2R</span>?
          </h1>
          <p>
            With tools to make every part of your process more human and a
            support team excited to help you, getting started with a growth
            engine for your employees has never been easier.
          </p>
          <div class="pt-4">
            <a class="demo-btn1 me-3" href="#">Signup for a trial</a>
            <a class="demo-btn" href="#">Schedule a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Schedule demo Section -->